<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instruction</key>
	<string>用于描述文件功能</string>
	<key>fileName</key>
	<string>CAIClient</string>
	<key>interfaces</key>
	<dict>
		<key>interfaceName</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>path</key>
			<string>/server</string>
			<key>instruction</key>
			<string>描述接口的说明</string>
			<key>params</key>
			<dict>
				<key>page</key>
				<dict>
					<key>keyName</key>
					<string>sss</string>
					<key>instruction</key>
					<string>页码</string>
					<key>dataType</key>
					<string>NSInteger</string>
					<key>isRquired</key>
					<true/>
				</dict>
			</dict>
			<key>result</key>
			<dict>
				<key>dataType</key>
				<string>CAIAppVersion</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>


		<key>userLogin</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>path</key>
			<string>?c=user&a=login</string>
			<key>instruction</key>
			<string>1.2 用户登录接口   为客户端提供用户登录功能</string>
			<key>params</key>
			<dict>
				<key>account</key>
				<dict>
					<key>keyName</key>
					<string>account</string>
					<key>instruction</key>
					<string>账户名称</string>
					<key>dataType</key>
					<string>NSString</string>
					<key>isRquired</key>
					<true/>
				</dict>

				<key>password</key>
				<dict>
					<key>keyName</key>
					<string>password</string>
					<key>instruction</key>
					<string>账户密码</string>
					<key>dataType</key>
					<string>NSString</string>
					<key>isRquired</key>
					<true/>
				</dict>
			</dict>
			<key>result</key>
			<dict>
				<key>dataType</key>
				<string>CLTNoDataResult</string>
			</dict>
		</dict>