<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLTStatus</key>
	<dict>
		<key>instruction</key>
		<string>网络状态描述</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>CLTCode</key>
			<dict>
				<key>serverName</key>
				<string>code</string>
				<key>dataType</key>
				<string>NSInteger</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTNoDataResult</key>
	<dict>
		<key>instruction</key>
		<string>没有数据或是数据为空的返回数据结构</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>NSDictionary</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTUserPublish</key>
	<dict>
		<key>instruction</key>
		<string>用户主页发布的图片文字内容</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>image</key>
			<dict>
				<key>serverName</key>
				<string>image</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>descriptionString</key>
			<dict>
				<key>serverName</key>
				<string>description</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>time</key>
			<dict>
				<key>serverName</key>
				<string>time</string>
				<key>dataType</key>
				<string>NSDate</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTUserInfo</key>
	<dict>
		<key>instruction</key>
		<string>用户基本信息</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>userId</key>
			<dict>
				<key>serverName</key>
				<string>id</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>nickName</key>
			<dict>
				<key>serverName</key>
				<string>nickname</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>iCan</key>
			<dict>
				<key>serverName</key>
				<string>iCan</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>gender</key>
			<dict>
				<key>serverName</key>
				<string>gender</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>age</key>
			<dict>
				<key>serverName</key>
				<string>age</string>
				<key>dataType</key>
				<string>NSInteger</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>school</key>
			<dict>
				<key>serverName</key>
				<string>school</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>majorIn</key>
			<dict>
				<key>serverName</key>
				<string>majorIn</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>grade</key>
			<dict>
				<key>serverName</key>
				<string>grade</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>career</key>
			<dict>
				<key>serverName</key>
				<string>career</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>goodAt</key>
			<dict>
				<key>serverName</key>
				<string>goodAt</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>character</key>
			<dict>
				<key>serverName</key>
				<string>character</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>insterest</key>
			<dict>
				<key>serverName</key>
				<string>insterest</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>profile</key>
			<dict>
				<key>serverName</key>
				<string>profile</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>city</key>
			<dict>
				<key>serverName</key>
				<string>city</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>publish</key>
			<dict>
				<key>serverName</key>
				<string>publish</string>
				<key>dataType</key>
				<string>NSArray</string>
				<key>automic</key>
				<false/>
				<key>contentDataType</key>
				<string>CLTUserPublish</string>
			</dict>
		</dict>
	</dict>
	<key>CLTGetUserInfoResult</key>
	<dict>
		<key>instruction</key>
		<string>用户信息结构</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>CLTUserInfo</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTRecommend</key>
	<dict>
		<key>instruction</key>
		<string>推荐的对象(美女)</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>userId</key>
			<dict>
				<key>serverName</key>
				<string>uid</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>photo</key>
			<dict>
				<key>serverName</key>
				<string>photo</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>nickName</key>
			<dict>
				<key>serverName</key>
				<string>nickname</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>image</key>
			<dict>
				<key>serverName</key>
				<string>image</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>descriptionString</key>
			<dict>
				<key>serverName</key>
				<string>description</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>city</key>
			<dict>
				<key>serverName</key>
				<string>city</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTGetRecommendResult</key>
	<dict>
		<key>instruction</key>
		<string>获取推荐信息</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>CLTRecommend</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTSearchUserId</key>
	<dict>
		<key>instruction</key>
		<string>根据用户输入搜索其他用户得到的uid</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>userId</key>
			<dict>
				<key>serverName</key>
				<string>uid</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTSearchUserIdResult</key>
	<dict>
		<key>instruction</key>
		<string>根据用户输入搜索其他用户</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>CLTSearchUserId</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTFriend</key>
	<dict>
		<key>instruction</key>
		<string>好友列表中的对象</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>userId</key>
			<dict>
				<key>serverName</key>
				<string>id</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>name</key>
			<dict>
				<key>serverName</key>
				<string>name</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>photo</key>
			<dict>
				<key>serverName</key>
				<string>photo</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTGetOtherUserListResult</key>
	<dict>
		<key>instruction</key>
		<string>获取好友列表 或是赞过我的人列表  总之是各种人的列表</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>NSArray</string>
				<key>automic</key>
				<false/>
				<key>contentDataType</key>
				<string>CLTFriend</string>
			</dict>
		</dict>
	</dict>
	<key>CLTStory</key>
	<dict>
		<key>instruction</key>
		<string>一个故事对象</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>storyId</key>
			<dict>
				<key>serverName</key>
				<string>id</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>title</key>
			<dict>
				<key>serverName</key>
				<string>title</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>cover</key>
			<dict>
				<key>serverName</key>
				<string>cover</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>publishTime</key>
			<dict>
				<key>serverName</key>
				<string>publish_time</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTGetStoryListResult</key>
	<dict>
		<key>instruction</key>
		<string>获取故事列表</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>NSArray</string>
				<key>automic</key>
				<false/>
				<key>contentDataType</key>
				<string>CLTStory</string>
			</dict>
		</dict>
	</dict>
	<key>CLTStoryDetial</key>
	<dict>
		<key>instruction</key>
		<string>故事详情</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>storyId</key>
			<dict>
				<key>serverName</key>
				<string>id</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>author</key>
			<dict>
				<key>serverName</key>
				<string>author</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>authorPhoto</key>
			<dict>
				<key>serverName</key>
				<string>author_photo</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>title</key>
			<dict>
				<key>serverName</key>
				<string>title</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>cover</key>
			<dict>
				<key>serverName</key>
				<string>cover</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>content</key>
			<dict>
				<key>serverName</key>
				<string>content</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>publishTime</key>
			<dict>
				<key>serverName</key>
				<string>publish_time</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTGetStoryDetialResult</key>
	<dict>
		<key>instruction</key>
		<string>故事详情</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data</string>
				<key>dataType</key>
				<string>CLTStoryDetial</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CLTUploadImageResult</key>
	<dict>
		<key>instruction</key>
		<string>上传图片</string>
		<key>extend</key>
		<string>MTLModel</string>
		<key>property</key>
		<dict>
			<key>status</key>
			<dict>
				<key>serverName</key>
				<string>status</string>
				<key>dataType</key>
				<string>CLTStatus</string>
				<key>automic</key>
				<false/>
			</dict>
			<key>data</key>
			<dict>
				<key>serverName</key>
				<string>data.imageUrl</string>
				<key>dataType</key>
				<string>NSString</string>
				<key>automic</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
